{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for CAT, msg in get_flashed_messages(True) %}
<div class="flash {{CAT}}">{{msg}}</div>
{% endfor %}
<form action="/contact" method="POST" class="form-contact">
  <p><label>Ім'я: </label><input type="text" name="username" value="" requied />
  <p><label>Email: </label><input type="email" name="email" value="" requied />
  <p><label>Повідомлення:</label>
  <p><textarea name="message" rows=7 cols=40></textarea>
  <p><input type="submit" value="Відправити" />
</form>
{% endblock %}